*{
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    min-height: 82px;
    background-color: #151722;
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.3));
}

.menu{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: initial;
    margin: 0;
}

nav button {
    color:#FAF8FC;
    font-family: Montserrat;
    font-weight: bold;
    background: none;
    border: none;
    font-size: 12px;
    letter-spacing: 1.42px;
    margin: 15px 30px 15px 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
}

nav button:hover{
    text-decoration: underline;
}

#icon{
    margin-right: 10px;
}

a{
    color:#FFFFFF;
    text-decoration: none;
}

.profile{
    width: 20%;
    min-width:150px;
    padding: 0;
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
    margin: 15px 50px;
    
}


ul, li{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
   
}

.profile li a{
    background-color:#151722;
    color: #FAF8FC;
    min-width: 150px;
    text-decoration: none;
    padding: 18px 10px;
    display: block;
}

.profile li a:hover{
    background-color: #0E0F15;
}

.profile li ul{
    display: none;
    position: relative;
    z-index: 1000;
}

.profile li:hover > ul{
    display: none;
}

.profile button{
    border: none;
    background: none;
    color:#FAF8FC;
    padding: 0;
    font-family: Montserrat;
    text-align: justify;
    font-weight: 600;
}


.accordion{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.accordion ul li #pic{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

#pic{                                       /*Foto de perfil*/
    margin-left: 10px;
    height: 40px;
    width: 40px;
    float: right;
}

/*************************************************************************************************************************************/

.title{                                     /*Nombre de la página*/
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 00;
    padding-left: 3.5rem;
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: initial;
}

#select{                                    /*Menú select con las categorías*/
    background: linear-gradient(#313238, #363742);
    height: 36px;
    border-radius: 100px 100px 100px 100px;
    border-color: #1A1D29;
    color: #FFFFFF;
    font-family: Montserrat;
    text-align: justify;
    filter: drop-shadow(0px 0px 13px rgba(0, 0, 0, 0.3));
    display: block;
    align-self: center;
    margin-left: 16px;
    padding-left: 1em;
    cursor: pointer;
}

#select:hover{
    background-color: #0E0F15;
}

/*********************************************************************************************************************/
body {
    background-color: #1A1D29;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: bold;
    padding: 0em;
    margin: 0em;
}

.movies{                                                                                                                                  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    padding: 50px 50px; 
    position: relative;
    z-index: 2;
}

.movies::after{
    content: "";
    width: 285px;
}

.banner{
    border: none;
    width: 100%;
    max-width: 268px;
    height: 158px;
    background: no-repeat center/100% url(img/red.jpg);                         /* Para centrar la imagen           */
    filter: drop-shadow(0px 30px 30px rgba(0, 0, 0, 0.3));
    margin: 10px;
    cursor: pointer;
    border-radius: 9.5px;
    position: relative;
    z-index: 1;
}

#red{
    background: no-repeat center/100% url(img/red.jpg);
}
#zootopia{
    background: no-repeat center/100% url(img/zootopia.jpg);
}
#tangled{
    background: no-repeat center/100% url(img/tangled.jpg);
}
#flubber{
    background: no-repeat center/100% url(img/flubber.jpg);
}
#beauty{
    background: no-repeat center/100% url(img/beauty.jpg);
}
#bighero{
    background: no-repeat center/100% url(img/bighero.jpg);
}
#cinderella{
    background: no-repeat center/100% url(img/cinderella.jpg);
}
#aladdin{
    background: no-repeat center/100% url(img/aladdin.jpg);
}
#elton{
    background: no-repeat center/100% url(img/elton.jpg);
}
#lilo{
    background: no-repeat center/100% url(img/lilo.jpg);
}
#narnia{
    background: no-repeat center/100% url(img/narnia.jpg);
} 
#encanto{
    background: no-repeat center/100% url(img/encanto.jpg);
}
#raya{
    background: no-repeat center/100% url(img/raya.jpg);
}
#moana{
    background: no-repeat center/100% url(img/moana.jpg);
}
#tiana{
    background: no-repeat center/100% url(img/tiana.jpg);
}
#disenchanted{
    background: no-repeat center/100% url(img/disenchanted.jpg);
}
#maleficent{
    background: no-repeat center/100% url(img/maleficent.jpg);
}
#mulan{
    background: no-repeat center/100% url(img/mulan.jpg);
}
#coco{
    background: no-repeat center/100% url(img/coco.jpg);
}
#toystory{
    background: no-repeat center/100% url(img/toystory.jpg);
}
#incredibles{
    background: no-repeat center/100% url(img/incredibles.jpg);
}
#incredibles2{
    background: no-repeat center/100% url(img/incredibles2.jpg);
}
#deadpool{
    background: no-repeat center/100% url(img/deadpool.jpg);
}

.banner:hover{
    border: 4.5px solid rgba(251, 251, 249, 0.7);
    border-radius: 5px;
}

/******************************************************************************************************************************************/
footer{
    background-color: #151722;
    color: #FFFFFF;
    height: 278px;
    width: auto;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
}

a{
    color: #FFFFFF;
}

.user{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

#link{
    margin-right: 10px;
    cursor: pointer;
}

.about{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}